# Database
DB_HOST=db
DB_PORT=3306
DB_NAME=userdb
DB_SECRET=rootpassword123
DB_USER=appuser
DB_PASSWORD=userpassword123

PMA_HOST=db
PMA_PORT=3306

#JWT
JWT_SECRET=my-super-secret-key-must-be-at-least-32-characters-long
JWT_EXPIRES_IN=900000
JWT_REFRESH_EXPIRES_IN=604800000